.searchBox {
  width: 56vw;  
}

.searchWrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  padding-top: 5vh;
}

.cardsWrapper {
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
