.classBody {
  min-height: 60vh;
  width: 100vw;
  background-color: black;
  color: white;
   display: flex; 
  justify-content: center;
 align-items: center;
 background: rgb(232, 208, 238);
 background: radial-gradient(circle, rgb(255, 18, 10) 0%, rgba(62,20,86,1) 100%);
 /* overflow: hidden; */
}
