.homeContainer{
  width: 100vw;
  height: 10vh;
  justify-content: space-around;
  /* align-items: center;
  margin-top: 20em; */
  display: flex;
  flex-direction: row;
  margin-bottom: 23em;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

.carouselTop {
  
  width: 50vw;
  height: 30vh;
  /* background-color:black; */
}

