.classHeader {
  height: 20vh;
  width: 100vw;
  background-color: black;
  background-position: 80%;
  color: white;
}

.mangaDesign {
  height: 10em;
  width: 20em;
}

.headerLogo {
  height: 90%;
  /* margin-left: 2.5%; */
  display: flex;
}

.adminButton {
  margin-left: 6.5%;
}
